<servlet>
	<servlet-name>senyaBot</servlet-name>
	<servlet-class>hoge.fuga.SenyaBot</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>senyaBot</servlet-name>
	<url-pattern>/cron/senya</url-pattern>
</servlet-mapping>
<security-constraint>
	<web-resource-collection>/cron/*</web-resource-collection>
	<auth-constraint>
			<role-name>admin</role-name>
	</auth-constraint>
</security-constraint>

